extends layout

block body
  h1.
      Images
  .demo-gallery
    ul#lightgallery.list-unstyled.row
  script.
    var tweet1 = 1;//{user: "nodesource", text: "Hello, world!"};
    var data = '';
    var u69614;
    socket.emit("tweet1", tweet1);
    socket.on("tweet", function(tweet) {
      // todo: add the tweet as a DOM node
      console.log('client receives: ', tweet);
      data = tweet;
      files = data['filenames'];
      document.getElementById('lesionNumber').innerHTML = data['lesionNum'];
      for (i = 0; i < files.length; i++) {
        $("ul#lightgallery.list-unstyled.row").append('<li data-responsive="img/'.concat(files[i].replace(".jpg", ""), '-thumb.jpg 375, img/', files[i].replace(".jpg", ""), '-thumb.jpg 480, img/', files[i], ' 800" data-src="img/', files[i], '" data-sub-html="<h4>Bowness Bay</h4><p>A beautiful Sunrise this morning taken En-route to Keswick not one as planned.</p>" class="col-xs-6 col-sm-4 col-md-3"><a href=""><img src="img/', files[i], '" class="img-responsive"></a></li>'));
      }
      if($("#lightgallery").data("lightGallery")) {
        $("#lightgallery").data("lightGallery").destroy(true);
        createLightGallery();
      } 
    });
    function createLightGallery()
    {
      $('#lightgallery').lightGallery();
    }
    function sendData() {
      var msg = document.getElementById("message_input").value;
      themsg = Number(msg);
      console.log(themsg);
      $("ul#lightgallery.list-unstyled.row").html("");
      socket.emit("tweet1", themsg);
      document.getElementById("message_input").value = "";
    }
    function requestNext() {
      selectedInput = $('input[name="followupStatus"]:checked').val();
      if(selectedInput == null) {
        alert("Please select a value.");
      } else {
      var nextLesion = data['lesionNum'] + 1;
      $("ul#lightgallery.list-unstyled.row").html("");
      socket.emit("tweet1", nextLesion);
      document.getElementById("message_input").value = "";
      console.log(selectedInput);
      $('input[name="followupStatus"]').attr('checked',false);
      }
    }
    function checkUser() {
      $.getJSON("/api/1a2f164967f55325", function(data) {
        if (data.hasOwnProperty('username')) {
            u69614 = data.username;
            console.log('Username: ' + data.username);
        }
      });
    }
    $(document).ready(function() {
      checkContainer();
      createLightGallery();
      checkUser();
    });
    function checkContainer () {
      if($('#sidebar').is(':visible')){ //if the container is visible on the page
        $("#sidebar").append('</br>\
                              <form>\
                              <input name="followupStatus" value="unchangedBenign" type="radio"/> Unchanged Benign<br/>\
                              <input name="followupStatus" value="changedBenign" type="radio"/> Changed Benign<br/>\
                              <input name="followupStatus" value="changedMalignant" type="radio"/> Changed Malignant<br/>\
                              <input name="followupStatus" value="Unknown" type="radio"/> Unknown<br/>\
                              </form>\
                              </br>\
                              <p>Comments:</p>\
                              <textarea id="commentbox" style="width:250px;height:80px;"></textarea>\
                              </br>\
                              </br>\
                              <button id="nextButton" onclick="requestNext()">Next Lesion</button>\
                              <div id="requestLesionNumButton">\
                              <p>Jump to Lesion Number:</p>\
                              <input id="message_input" type="text"/>\
                              <button onclick="sendData()">Jump</button></div>');  //append text
      } else {
        setTimeout(checkContainer, 50); //wait 50 ms, then try again
      }
    }
