extends layout

block body
  h1.
      Images
  .demo-gallery
    ul#lightgallery.list-unstyled.row
  script.
    window.requestLesion = 1;//{user: "nodesource", text: "Hello, world!"};
    var f = "";
    var data = '';
    var u69614;
    var selectedInput;
    socket.emit("requestLesion", requestLesion);
    socket.on("tweet", function(tweet) {
      // todo: add the tweet as a DOM node
      console.log('client receives: ', tweet);
      data = tweet;
      files = data['filenames'];
      document.getElementById('lesionNumber').innerHTML = data['lesionNum'];
      document.getElementById("commentbox").value = "Comment only if necessary.";
      for (i = 0; i < files.length; i++) {
        $("ul#lightgallery.list-unstyled.row").append('<li data-responsive="img/'.concat(files[i].replace(".jpg", ""), '-thumb.jpg 375, img/', files[i].replace(".jpg", ""), '-thumb.jpg 480, img/', files[i], ' 800" data-src="img/', files[i], '" data-sub-html="<h3> t = ', data['timepoints'][i], ' days </h3>" class="col-xs-6 col-sm-4 col-md-3"><a href=""><img src="img/', files[i], '" class="img-responsive"></a><p id="timepointText"> t = ', data['timepoints'][i], ' days</p</li>'));
        //$("ul#lightgallery.list-unstyled.row").append('<p id="timepointText">', data['timepoints'][i], ' days</p></div>')
      }
      if($("#lightgallery").data("lightGallery")) {
        $("#lightgallery").data("lightGallery").destroy(true);
        createLightGallery();
      } 
    });
    function createLightGallery()
    {
      $('#lightgallery').lightGallery();
    }
    function jumpTo() {
      var msg = document.getElementById("message_input").value;
      if (msg == "") {
        alert("Please enter a value.")
      } else {
        themsg = Number(msg);
        console.log(themsg);
        $("ul#lightgallery.list-unstyled.row").html("");
        socket.emit("requestLesion", themsg);
        document.getElementById("message_input").value = "";
        document.getElementById("commentbox").value = "Comment only if necessary.";
      }
    }
    function sendData() {
      var dataObj = {"uid": u69614,
                    "lesionNum": data['lesionNum'],
                    "filenames": files,
                    "lesionStatus": selectedInput,
                    "timepoints": data['timepoints'],
                    "comment": document.getElementById("commentbox").value
                    }
      socket.emit("dataFromUser", dataObj);
      console.log(dataObj);
    }
    function requestNext() {
      selectedInput = $('input[name="followupStatus"]:checked').val();
      if(selectedInput == null) {
        alert("Please select a status.");
      } else {
      sendData();
      var nextLesion = data['lesionNum'] + 1;
      $("ul#lightgallery.list-unstyled.row").html("");
      socket.emit("requestLesion", nextLesion);
      document.getElementById("message_input").value = "";
      document.getElementById("commentbox").value = "Comment only if necessary.";
      console.log(selectedInput);
      $('input[name="followupStatus"]').attr('checked',false);
      }
    }
    function checkUser() {
      f = $.getJSON("/api/1a2f164967f55325", function(data) {
        if (data.hasOwnProperty('username')) {
            u69614 = data.username;
            console.log('Username: ' + u69614);
            //getUserProgress(u69614);
            return u69614;
        }
      });
      return f;
    }
    function getUserProgress() {
      socket.emit("userProgressRequest", checkUser());
      socket.on("userProgressReturn", function(userProgress) {
        //return callback(userProgress);
        console.log('User Progress: ', userProgress);
        //if (userProgress != 1) {
          window.alert('Max lesion number completed: '.concat(userProgress, '. You may jump to #', userProgress+1));
        //}
        //return result;
      });
    }
    function checkContainer () {
      //<input name="followupStatus" value="changedMalignant" type="radio"/> Changed Malignant<br/>\
      //<input name="followupStatus" value="unknown" type="radio"/> Unknown<br/>\
      if($('#sidebar').is(':visible')){ //if the container is visible on the page
        $("#sidebar").append('\
                              <h4 style="padding-top:8px">Select Status:</h4>\
                              <form>\
                              <input name="followupStatus" value="unchangedBenign" type="radio"/> Unchanged Benign<br/>\
                              <input name="followupStatus" value="changedBenign" type="radio"/> Changed Benign<br/>\
                              <input name="followupStatus" value="exclude" type="radio"/> Exclude<br/>\
                              </form>\
                              </br>\
                              <p>Comments:</p>\
                              <textarea id="commentbox" style="width:250px;height:80px;"></textarea>\
                              </br>\
                              </br>\
                              <button id="nextButton" onclick="requestNext()">Next Lesion</button>\
                              <div id="requestLesionNumButton">\
                              <p>Jump to Lesion Number:</p>\
                              <input id="message_input" type="text"/>\
                              <button onclick="jumpTo()">Jump</button></div>');  //append text
      } else {
        setTimeout(checkContainer, 50); //wait 50 ms, then try again
      }
    }
