extends layout

block body

  #welcome.jumbotron
    h1 Welcome
    p.lead.
      <br/>
      <br/>
      Welcome to this gloriously simple image review app! Please log in using the option above.
    //<a href="https://github.com/stormpath/stormpath-express-sample">GitHub page</a>.
    //p.bigbutton
    //  //a.bigbutton.btn.btn-lg.btn-danger(href='/register', role='button') Register

  include footer.jade
  div &nbsp;
  div &nbsp;
