extends layout

block body
  h1.
      Image List
  .demo-gallery
    ul#lightgallery.list-unstyled.row
      li.col-xs-6.col-sm-4.col-md-3(data-responsive='img/img1-thumb.jpg 375, img/img1-thumb.jpg 480, img/img1.jpg 800', data-src='img/img1.jpg', data-sub-html='<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>')
        a(href='')
          img.img-responsive(src='img/img1.jpg')
      li.col-xs-6.col-sm-4.col-md-3(data-responsive='img/img2-thumb.jpg 375, img/img2-thumb.jpg 480, img/img2.jpg 800', data-src='img/img2.jpg', data-sub-html="<h4>Bowness Bay</h4><p>A beautiful Sunrise this morning taken En-route to Keswick not one as planned but I'm extremely happy I was passing the right place at the right time....</p>")
        a(href='')
          img.img-responsive(src='img/img2.jpg')
  #chatlog
  script(src='/socket.io/socket.io.js').
  script.
    var socket = io.connect('http://localhost:3000');
    var tweet1 = 2;//{user: "nodesource", text: "Hello, world!"};
    var data = '';
    socket.emit("tweet1", tweet1);
    socket.on("tweet", function(tweet) {
      // todo: add the tweet as a DOM node
      console.log('client receives: ', tweet);
      data = tweet;
      files = data['filenames'];
      for (i = 0; i < files.length; i++) {
        $("ul#lightgallery.list-unstyled.row").append('<li data-responsive="img/'.concat(files[i].replace(".jpg", ""), '-thumb.jpg 375, img/', files[i].replace(".jpg", ""), '-thumb.jpg 480, img/', files[i], ' 800" data-src="img/', files[i], '" data-sub-html="<h4>Bowness Bay</h4><p>A beautiful Sunrise this morning taken En-route to Keswick not one as planned.</p>" class="col-xs-6 col-sm-4 col-md-3"><a href=""><img src="img/', files[i], '" class="img-responsive"></a></li>'));
      }
    $("#lightgallery").lightGallery();
    });




                      