extends layout

block body
  h1.
      Image List
  .demo-gallery
    ul#lightgallery.list-unstyled.row
  script(src='/socket.io/socket.io.js').
  script.
    var socket = io.connect('http://172.18.49.220:3000');
    var tweet1 = 1;//{user: "nodesource", text: "Hello, world!"};
    var data = '';
    socket.emit("tweet1", tweet1);
    socket.on("tweet", function(tweet) {
      // todo: add the tweet as a DOM node
      console.log('client receives: ', tweet);
      data = tweet;
      files = data['filenames'];
      for (i = 0; i < files.length; i++) {
        $("ul#lightgallery.list-unstyled.row").append('<li data-responsive="img/'.concat(files[i].replace(".jpg", ""), '-thumb.jpg 375, img/', files[i].replace(".jpg", ""), '-thumb.jpg 480, img/', files[i], ' 800" data-src="img/', files[i], '" data-sub-html="<h4>Bowness Bay</h4><p>A beautiful Sunrise this morning taken En-route to Keswick not one as planned.</p>" class="col-xs-6 col-sm-4 col-md-3"><a href=""><img src="img/', files[i], '" class="img-responsive"></a></li>'));
      }
    $("#lightgallery").lightGallery();
    });
              