extends layout

block body
    h1.
        Image List
    ul
      each value, key in lesions
        li=value.lesionNum
        ul
          each v, k in value.filenames
            li=v

                      